<!DOCTYPE html>
<html>
  <head>
    <title>Group Selection Form</title>
  </head>
    <body>
      <form action="post_form" method="post">
        <div>
          <label for="name">Name:</label>
          <input type="text" id ="name" name="user_name">
        </div>
        <div>
          <label for="class">Class:</label>
          <input type="text" id="class" name="user_class">
        </div>
        <div>
          <label for="location">Location:</label>
          <input type="text" id="location" name="user_location">
        </div>
        <div>
          <label for="time">Time:</label>
          <input type="text" id="time" name="user_time">
        </div>
        <div>
          <label for="studystrategies">Study Strategies:</label>
          <input type="text" id="studystrategies" name="user_strategies">
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>