<!DOCTYPE html>
<html>
  <head>
    <title>Group Creation Form</title>
  </head>
    <body>
      <form action="/group" method="post">
        <div>
          <label for="class">Class:</label>
          <input type="text" id="class" name="group_class">
        </div>
        <div>
          <label for="location">Location:</label>
          <input type="text" id="location" name="group_location">
        </div>
        <div>
          <label for="time">Time:</label>
          <input type="text" id="time" name="group_time">
        </div>
        <div>
          <label for="capacity">Capacity:</label>
          <input type="text" id="capacity" name="group_strategies">
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>