{% extends 'studybearsapp/base.html' %}

{% block content %}
  {% if validlink %}
    <h3 style="color:white"> Change Password </h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p>
        <p style="color:white"> {{field.label_tag}} </p>
        {{field}}
      </p>
      {% endfor %}
    </form>
  {% else %}
    <p> The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
